

.parent_image_div {
  position: relative;
}
.title {
  letter-spacing: 2.0px;
}
.choose_image {
  display: flex;
  justify-content: center;
}
.file_cursor {
  cursor: pointer;
  font-weight: bold;
  text-decoration: underline;
}
#WiImage,#UiImage {
  position: relative;
  width: 90%;
  border: 20px solid #7d6969;
  border-radius: 12px;
}
.images_div{
  padding: 20px;
}
@media screen and (max-width:600px) {
  #WiImage,#UiImage {
    position: relative;
    /* left: 27%; */
    width: 90%;
    border: 20px solid #7d6969;
    border-radius: 12px;
  }
  .parent_image_div_1 {
    margin-top: 20px;
  }
}